@import '../styles/variables';
@import '../styles/_user_classes';

.reqreset-container {
	@include user-container;
	height: 190px;
}

.reset-container {
	@include user-container;
	height: 280px;
}

.login-container {
	@include user-container;
	height: 260px;
}

.register-container {
	@include user-container;
	height: 540px;
}
